<ul>
  {{#each model as |contact|}}
    <li>
      {{#link-to 'contact' contact.id}}
        {{contact.lastName}},
        {{contact.firstName}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No contacts found.</li>
  {{/each}}
</ul>
